* {
    margin: 0;
    padding: 0;
}
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #403262;
}
.headerApp {
    text-align: center;
    color: #fff;
}
.daySelectWrap {
  margin-top: 20px;
  color: #fff;
}
.daySelect {
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10px;
    border: 2px solid #fff;
}
@media only screen and (max-width: 680px) {
    .daySelect {
        flex-direction: column;
        justify-content: center;
    }
}
.daySelect p {
    color: #403262;
    cursor: pointer;
    padding: 5px 10px;
}

.daySelect .activeDay {
    background-color: #403262;
    color: #fff;
}
